doctype html
html(ng-app="schoolines")
  head
    meta(charset='utf8')
    title Schoolines 
    
    
    // javascripts
    script(src="/javascripts/vendor/jquery.min.js")
    script(src="/javascripts/vendor/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js")
    script(src="/javascripts/vendor/angular-route.js")
    script(src="/javascripts/vendor/angular-cookies.js")
    script(src="/javascripts/vendor/angular-ui-router.min.js")
    script(src="/javascripts/vendor/angular-aria.min.js")
    script(src="/javascripts/vendor/angular-animate.min.js")
    script(src="/javascripts/vendor/angular-material.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js")
    
    // Google Analytics
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-11111111-1', 'yourdomain.com');
        ga('send', 'pageview');
            
    // initialization
    script(src="/app/app.js")
    
    // include directives
    script(src="app/directives/deadlineDirective.js")
    script(src="app/directives/navbar.directive.js")
    
    // include services
    script(src="/app/services/authService.js")
    script(src="/app/services/deadlineService.js")
    script(src="/app/services/ivleService.js")
    script(src="/app/services/voteService.js")
    script(src="/app/services/expService.js")
    script(src="/app/services/session.js")
    
    // include controllers
    script(src="/app/components/index/indexController.js")
    script(src="/app/components/deadlineCreate/deadlineCreateController.js")
    script(src="/app/components/navbar/navbar.controller.js")
    
    
    // css
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/angular-material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet" href="/stylesheets/deadline.css")
    link(rel="stylesheet" href="/stylesheets/navbar.css")


  body
    block content
    ng-view
