.circle-gt-md{
	height:100px !important;
	line-height: 100px !important;
	width:100px !important;
	border-radius:50%;
	text-align: center;
	vertical-align: middle;
	margin:10px;
}

.circle{
	height:60px !important;
	line-height: 60px !important;
	width:60px !important;
	border-radius:50%;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
}

.loading{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}

.logo{
	height:100px !important;
	margin-top:20px;
}

.nav-border-right{
	border-right: 1px solid #333;
}

.side-bar-fix{
	position:fixed;
	top:0;
}

.drawer-icon{
	height:25px;
	width:25px;
	margin-top:10px;
}