.circle-gt-md{
	height:100px !important;
	line-height: 100px !important;
	width:100px !important;
	border-radius:50%;
	text-align: center;
	vertical-align: middle;
	margin:10px;
}

.logo{
	height:100px !important;
	margin-top:20px;
}


.border{
	border-right: 1px solid #333;
}
.circle{
	height:60px !important; 
	line-height: 60px !important;
	width:60px !important;
	border-radius:50%;
	text-align: center;
	vertical-align: middle;  
}
.space-between{
	margin-bottom:5px;
}
.logo-header{
	min-height: 70px;
	position:fixed;
	top:0;
}
.side-bar-fix{
	position:fixed;
	top:0;
	height:100vh;
}

.height-150{
	height:20px !important;
}

.drawer-icon{
	height:25px;
	width:25px;
	margin-top:10px;
}
.margin-list{
	margin-top:70px;
}

.remove-margin{
	margin:0px;
	padding:0px;
	height:10px;
}
.full-height{
	
	height:100vh;
}
