.space-between{
	margin-bottom:5px;
}

.bg-cover{
	background-size: cover ;
	padding:10px;
}

.fullscreen-splash{
	height:100vh;
	margin-bottom:30px;
}
.min-300-splash{
	
	min-height:300px;
	margin-bottom:30px;
}
.white-text{
    color: white;
}
.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.drawer-icon{
	height:150px;
	width:150px;
	margin-top:80px;
}

.full-height{
	height:100vh;
}
.margin-list{
	margin-top:70px;
}

.header-height-70{
	min-height: 70px;

}