<div>
	<md-toolbar class="md-hue-3 header-height-70">
		<div class="md-toolbar-tools">
			<span flex></span><span><img class="logo" src="/images/logo.png"/></span><span flex></span>
		</div>
	</md-toolbar>
	<form name="userForm" class = "form-margin" ng-submit="createDeadline()">
		<div layout="row">
			<md-content>Contribute a deadline!</md-content>
		</div>
		<div layout="row">
			<md-input-container class="md-block" flex>
				<label>Module</label>
				<md-select ng-model="deadline.module" ng-required="{{true}}">
				  <md-option ng-repeat="mod in modules" value="{{mod}}">
					{{mod}}
				  </md-option>
				</md-select>
			</md-input-container>
		</div>
		<div layout="row">
			<md-input-container class="md-block" flex>
				<label>Title</label>
				<input ng-model="deadline.title" ng-required="{{true}}">
			</md-input-container>
		</div>
		<div layout="row">

			<md-input-container>
				<label>Date</label>
				<md-datepicker  ng-model="myDate" ng-required="{{true}}"></md-datepicker>
			</md-input-container>
			<span flex></span>
			<md-input-container>
				<label>Time</label>
				<input class="md-input time-mobile" type="time" 
				   ng-model="string"
				   ng-required="{{true}}" hide-gt-md>
				<input class=" md-input time" mdc-datetime-picker="" date="false" time="true" id="time2"
				placeholder="23:59" min-date="minDate" format="HH:mm" ng-model="deadline.timeStr" type="text"  ng-required="{{true}}" hide show-gt-md>
				
			</md-input-container>
		</div>
		
		<div layout="row">
			<md-input-container class="md-block" flex>
				<label>Description (optional)</label>
				<input ng-model="deadline.description">
			</md-input-container>
		</div>
		<div layout="row">
			<span flex></span>
			<md-button aria-label="Close" ng-click="redirectTo('/')">Back</md-button>
			<md-button type="submit">Submit</md-button>
		<div>
	</form>
</div>
